<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Members Only</title>
  </head>
  <body>
    <%- include('partials/nav')%>
    <main>
      <div class="messages">
        <% if (!locals.currentUser) { %>
        <div class="notification">
          <a href="/login">Login</a> to post your own message
        </div>
        <% } else if (locals.currentUser && locals.currentUser.status ===
        'user') { %>
        <div class="notification">
          <a href="/member">Become a member</a> to see the names and usernames
          on the messages
        </div>
        <% } else { %>
        <div class="notification">
          Welcome <%= locals.currentUser.fullname %> to the secret area!
        </div>
        <% } %> <% if(!messages) { %>
        <div class="error">Error loading messages</div>
        <% } else { messages.forEach((message) => { %>
        <div class="message">
          <% if(locals.currentUser && locals.currentUser.status === 'admin') {
          %>
          <div class="delete-btn">
            <a href="/message/delete/<%= message.id %>">X</a>
          </div>
          <%} %>
          <div class="user">
            <div class="icon"><%= message.status %> icon</div>
            <div>
              <% if (!locals.currentUser || locals.currentUser.status ===
              'user') { %>
              <div>
                <div class="fullname">****</div>
                <div class="user-info">
                  <p class="username">@****</p>
                  <p class="timestamp">- <%= message.formatted_date %></p>
                </div>
              </div>
              <% } else { %>
              <div class="fullname"><%= message.fullname %></div>
              <div class="user-info">
                <p class="username">@<%= message.username %></p>
                <div>-</div>
                <p class="timestamp"><%= message.formatted_date %></p>
              </div>
              <% } %>
            </div>
          </div>
          <h3 class="title"><%= message.title %></h3>
          <p class="text"><%= message.text %></p>
        </div>
        <% })} %>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
